<a href="https://colab.research.google.com/github/ZohaEmaan01/Python-Basics/blob/main/python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(List)

Create an empty list and print it.

In [ ]:
list=[]
print(list)

[]

Create a list of your favorite colors and print it.

In [ ]:
list=['purple','pink','red']
print(list)

['purple', 'pink', 'red']

Create a list that includes a mix of data types (integers, strings, floats).

In [ ]:
list=[6,'apple',19.45,'64']
print(list)

[6, 'apple', 19.45, '64']

Access the first element of a list.

In [ ]:
list=['apple','orange','mango']
print(list[0])

apple

Access the last element of a list.

In [ ]:
list=['apple','orange','mango']
print(list[-1])

mango

 Access the second and third elements of a list.

In [ ]:
list=['apple','orange','mango']
print(list[1:3])

['orange', 'mango']


Slice a list to extract the first three elements.

In [ ]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[0:3]
print(new_list)

['apple', 'orange', 'mango']

Slice a list to extract the last three elements.

In [ ]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[-3:]
print(new_list)

['cherry', 'guava', 'pear']

Slice a list to get every second element.

In [ ]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[0::2]
print(new_list)

['apple', 'mango', 'guava']

Reverse a list using slicing.

In [ ]:
list=['apple','orange','mango','cherry','guava','pear']
print(list[::-1])

['pear', 'guava', 'cherry', 'mango', 'orange', 'apple']

 Create two lists and concatenate them.

In [ ]:
list1=['guava','peach','pear']
list2=['apple','kiwi','cherry']
print(list1+list2)

['guava', 'peach', 'pear', 'apple', 'kiwi', 'cherry']


Repeat a list multiple times using the repetition operator

In [ ]:
list_1=['apple','guava','orange']
print(list_1*3)

['apple', 'guava', 'orange', 'apple', 'guava', 'orange', 'apple', 'guava', 'orange']

Add a new element to the end of a list using the append() method.

In [ ]:
list=['apple','guava','orange']
list.append('kiwi')
print(list)

['apple', 'guava', 'orange', 'kiwi']


Extend a list with elements from another list using the extend() method.

In [ ]:
list1=['guava','peach','pear']
list2=['apple','kiwi','cherry']
list1.extend(list2)
print(list1)

['guava', 'peach', 'pear', 'apple', 'kiwi', 'cherry']

Insert an element at a specific index in a list using the insert() method.

In [ ]:
list1=['guava','peach','pear']
list1.insert(1,'kiwi')
print(list1)

['guava', 'kiwi', 'peach', 'pear']

 Remove the last element from a list using the pop() method.

In [ ]:
list1=['guava','peach','pear']
print(list1.pop())
print(list1)

pear
['guava', 'peach']

Remove a specific element from a list using the remove() method.

In [ ]:
list1=['guava','peach','pear']
list1.remove('pear')
print(list1)

['guava', 'peach']

Clear all elements from a list.

In [ ]:
list1=['guava','peach','pear']
list1.clear()
print(list1)

[]

Delete an element at a specific index using the del statement.

In [ ]:
list1=['guava','peach','pear']
del list1[0]
print(list1)

['peach', 'pear']

Convert a string to a list of characters and vice-versa.

In [ ]:
string='I love to shop'
list1=string.split(' ')
print(list1)

string1=' '.join(list1)
print(string1)

['I', 'love', 'to', 'shop']
I love to shop

Sort a list in ascending order using the sort() method.

In [ ]:
list1=['guava','peach','mango']
list1.sort()
print(list1)

['guava', 'mango', 'peach']

In [ ]:

Sort a list in descending order using the sort() method.

In [ ]:
list=[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
list.sort(reverse=True)
print(list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

Reverse the order of a list using the reverse() method.

In [ ]:
list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
list.reverse()
print(list)

[5, 3, 5, 6, 2, 9, 5, 1, 4, 1, 3]

Check if an element is present in a list using the in operator.

In [ ]:
list=['apple','mango','kiwi']
check= 'apple'in list
print(check)

True

Compare two lists to see if they are equal in both value and identity.

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list2 is list1

False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [ ]:
list=[1, 2, 3, 4, 5]
copy = list.copy()
list[0] = 100
print(list)
print(copy)

[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [ ]:
import copy
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copy = copy.deepcopy(list)
copy1= list.copy()
list[0][0] = 100
print(list)
print(copy)
print(copy1)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

Pickle and Unpickle a list and display its content.

In [ ]:
import copy

# Original list
original_list = [1, 2, [3, 4]]

# Shallow copy
shallow_copied_list = copy.copy(original_list)

# Deep copy
deep_copied_list = copy.deepcopy(original_list)

# Modify the original list to demonstrate the difference
original_list[2][0] = 99

print("Original List:", original_list)
print("Shallow Copied List:", shallow_copied_list)
print("Deep Copied List:", deep_copied_list)

Original List: [1, 2, [99, 4]]
Shallow Copied List: [1, 2, [99, 4]]
Deep Copied List: [1, 2, [3, 4]]

In [ ]:
import copy

# Original list
original_list = [1, 2, 3, 4, 5]

# Shallow copy
shallow_copied_list=copy.copy(original_list)
# Deep copy
deep_copied_list = copy.deepcopy(original_list)

# Modify the original list
original_list.append(6)

print("Original List:", original_list)
print("Shallow Copied List:", shallow_copied_list)
print("Deep Copied List:", deep_copied_list)

Original List: [1, 2, 3, 4, 5, 6]
Shallow Copied List: [1, 2, 3, 4, 5]
Deep Copied List: [1, 2, 3, 4, 5, 6]