<a href="https://colab.research.google.com/github/ZohaEmaan01/Python-Basics/blob/main/python_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(SETS)

    Create an empty set and print it.

In [ ]:
s={'a','b','c','d','e'}
s=set({'a','b','c','d','e'})
print(s)

{'a', 'b', 'd', 'c', 'e'}

  Create a set of your favorite colors and print it.

In [ ]:
s={'red','purple','pink'}
s=set({'red','purple','pink'})
print(s)

{'pink', 'purple', 'red'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
print(s)

{10.98, 12, '30', 'name'}

Access the elements of a set using a loop and print each element.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
for i in s:
  print(i)

10.98
12
30
name

add a new element to a set using the add() method.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.add('girl')
print(s)

{'30', 'name', 10.98, 12, 'girl'}

Add multiple elements to a set using the update() method.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.update(['girl',20])
print(s)

{'30', 'name', 10.98, 12, 'girl', 20}

Remove and return an arbitrary element from a set using the pop() method.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.pop()

10.98

Remove a specific element from a set using the remove() method.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.remove('name')
print(s)

{10.98, 12, '30'}

Remove a specific element from a set using the discard() method.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.discard(10.98)
print(s)

{12, '30', 'name'}

Convert a string to a set of unique characters.

In [ ]:
string='i like to learn'
s=set(string)
print(s)

{' ', 'o', 'l', 'a', 'n', 'r', 'i', 'k', 't', 'e'}

Convert a set of characters to a string.

In [ ]:
#gives error as str object is not callable
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
string=str(s)

Use the clear() method to remove all elements from a set.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
s.clear()
print(s)

set()

Use the copy() method to create a shallow copy of a set.

In [ ]:
s={'name',12,10.98,'30'}
s=set({'name',12,10.98,'30'})
copy1=s.copy()
print(s)
print(copy1)

{10.98, 12, '30', 'name'}
{10.98, 12, '30', 'name'}

Use the difference() method to find the difference between two sets.

In [ ]:
s1={'name',12,10.98,'30'}
s1=set({'name',12,10.98,'30'})
s2={'girl',10,'50',199.68,'name'}
s2=set({'girl',10,'50',199.68,'name'})
s1.difference(s2)

{10.98, 12, '30'}

Create two sets and find their union.

In [ ]:
s1={'name',12,10.98,'30'}
s1=set({'name',12,10.98,'30'})
s2={'girl',10,'50',199.68,'name'}
s2=set({'girl',10,'50',199.68,'name'})
s1.union(s2)

{10, 10.98, 12, 199.68, '30', '50', 'girl', 'name'}

    Create two sets and find their intersection.

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={'girl',10,'50',199.68,'name'}
s2=set({'girl',10,'50',199.68,'name'})
s1.intersection(s2)

{'50', 'name'}

 Create two sets and find their difference.

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={'girl',10,'50',199.68,'name'}
s2=set({'girl',10,'50',199.68,'name'})
s3=s1-s2
s4=s2-s1
print(s3)
print(s4)

{10.98, 12, '30'}
{'girl', 10, 199.68}

    Create two sets and find their symmetric difference.

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={'girl',10,'50',199.68,'name'}
s2=set({'girl',10,'50',199.68,'name'})
s1.symmetric_difference(s2)

{10, 10.98, 12, 199.68, '30', 'girl'}

Check if one set is a subset of another.

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={(12,'name')}
s2=set({12,'name'})
s2.issubset(s1)

True

    Check if one set is a superset of another.

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={(12,'name')}
s2=set({12,'name'})
s1.issuperset(s2)

True

    Check if two sets are disjoint (have no common elements).

In [ ]:
s1={'name',12,10.98,'30','50'}
s1=set({'name',12,10.98,'30','50'})
s2={'girl',1000,'60','address',10.57}
s2=set({'girl',1000,'60','address',10.57})
s1.isdisjoint(s2)

True