<a href="https://colab.research.google.com/github/ZohaEmaan01/Python-Basics/blob/main/python_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(Tuple)

    Create an empty tuple and print it.

In [ ]:
t=()
print(t)
type(t)

()

tuple

    Create a tuple of your favorite fruits and print it.

In [ ]:
t=('lychee','apricot','strawberry')
print(t)

('lychee', 'apricot', 'strawberry')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [ ]:
t=('name',10,'36',129.39)
print(t)

('name', 10, '36', 129.39)

  Access the first element of a tuple.

In [ ]:
t=('name',10,'36',129.39)
print(t[0])

name

    Access the last element of a tuple.

In [ ]:
t=('name',10,'36',129.39)
print(t[-1])

129.39

Access the second and third elements of a tuple.

In [ ]:
t=('name',10,'36',129.39)
print(t[1:3])

(10, '36')


    Slice a tuple to extract the first three elements.

In [ ]:
t=('name',10,'36',129.39)
print(t[0:3])

('name', 10, '36')

Slice a tuple to extract the last three elements.

In [ ]:
t=('name',10,'36',129.39,'address',93)
print(t[-3:])

(129.39, 'address', 93)

   Slice a tuple to get every second element.

In [ ]:
t=('name',10,'36',129.39,'address',93)
print(t[0::2])

('name', '36', 'address')

    Reverse a tuple using slicing.

In [ ]:
t=('name',10,'36',129.39,'address',93)
print(t[::-1])

(93, 'address', 129.39, '36', 10, 'name')

Create two tuples and concatenate them.

In [ ]:
t1=('name',10,'36',129.39,'address',93)
t2=('city',28,'345','phone',85.84)
print(t1+t2)

('name', 10, '36', 129.39, 'address', 93, 'city', 28, '345', 'phone', 85.84)

    Repeat a tuple multiple times using the repetition operator.

In [ ]:
t=('address',28,'10.98')
rep=t*3
print(rep)

('address', 28, '10.98', 'address', 28, '10.98', 'address', 28, '10.98')

Find the index of a specific element in a tuple using the index() method.

In [ ]:
t1=('name',10,'36',129.39,'name','address',93)
t1.index('address')

5

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [ ]:
t1=('name',10,'36',129.39,'name','address',93)
t1.count('name')

2

Sort a tuple of numbers in ascending order.

In [ ]:
t1=(7,95,72,70,14,413,848,4,83)
sorted(t1)

[4, 7, 14, 70, 72, 83, 95, 413, 848]

    Sort a tuple of strings in alphabetical order.

In [ ]:
t1=('apple','orange','kiwi','mango')
sorted(t1)

['apple', 'kiwi', 'mango', 'orange']

Sort a tuple of tuples based on the second element of each inner tuple.

In [ ]:
t1=((18,58),(90,74),(83,65),(69,46))
sorted(t1,key=lambda x:x[1])

[(69, 46), (18, 58), (83, 65), (90, 74)]

Compare two tuples to see if they are equal in both value and identity.

In [ ]:
t1=(60,'name',12.4)
t2=(60,'name',12.4)
print(t1 is t2) #checking identity
print(t1==t2) #checking value

False
True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [ ]:
#as you cannot modify a tuple (tuples being immutable) this will create a new tuple in memory hence shallow copy won't work.
t1=(60,19.45,'45','address')
shallow_copy=t1[:]
t1=(60,19.45,'45','address','name')
print(shallow_copy)
print(t1)

(60, 19.45, '45', 'address')
(60, 19.45, '45', 'address', 'name')

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [ ]:
#as you cannot modify a tuple (tuples being immutable) this will create a new tuple in memory hence deep copy won't work.
import copy
tuple1=((1, 2), (3, 4), (5, 6))
deep_copy=copy.deepcopy(tuple1)
tuple1=((1, 2), (3, 4), (5, 6),(7,8))
print(tuple1)
print(deep_copy)

((1, 2), (3, 4), (5, 6), (7, 8))
((1, 2), (3, 4), (5, 6))

    Pickle a tuple and save it to a file.

In [ ]:
import pickle
tuple1=('learning', 'is', 'fun', 'with', 'Arif')
with open('tuple1.pickle', 'wb') as f:
    pickle.dump(tuple1, f)

    Unpickle a tuple from a file and display its content.

In [1]:
import pickle
with open('tuple1.pickle', 'rb') as f:
    data = pickle.load(f)
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'tuple1.pickle'

In [ ]:
import copy

# Original tuple
original_tuple = (1, 2, [3, 4])

# Shallow copy
shallow_copied_tuple = copy.copy(original_tuple)

# Deep copy
deep_copied_tuple = copy.deepcopy(original_tuple)

# Modify the original tuple to demonstrate the difference
original_tuple[2][0] = 99

print("Original Tuple:", original_tuple)
print("Shallow Copied Tuple:", shallow_copied_tuple)
print("Deep Copied Tuple:", deep_copied_tuple)

Original Tuple: (1, 2, [99, 4])
Shallow Copied Tuple: (1, 2, [99, 4])
Deep Copied Tuple: (1, 2, [3, 4])

In [ ]:
import copy

# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Shallow copy
shallow_copied_tuple = copy.copy(original_tuple)

# Deep copy
deep_copied_tuple = copy.deepcopy(original_tuple)

# Modify the original tuple
original_tuple = original_tuple + (6,)

print("Original Tuple:", original_tuple)
print("Shallow Copied Tuple:", shallow_copied_tuple)
print("Deep Copied Tuple:", deep_copied_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6)
Shallow Copied Tuple: (1, 2, 3, 4, 5)
Deep Copied Tuple: (1, 2, 3, 4, 5)