### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
list=[]
print(list)

[]

Create a list of your favorite colors and print it.

In [2]:
list=['purple','pink','red']
print(list)

['purple', 'pink', 'red']

Create a list that includes a mix of data types (integers, strings, floats).

In [3]:
list=[6,'apple',19.45,'64']
print(list)

[6, 'apple', 19.45, '64']

Access the first element of a list.

In [5]:
list=['apple','orange','mango']
print(list[0])

apple

Access the last element of a list.

In [6]:
list=['apple','orange','mango']
print(list[-1])

mango

 Access the second and third elements of a list.

In [9]:
list=['apple','orange','mango']
print(list[1],',',list[2])
#or
print(list[1:3])

orange , mango
['orange', 'mango']


Slice a list to extract the first three elements.

In [11]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[0:3]
print(new_list)

['apple', 'orange', 'mango']

Slice a list to extract the last three elements.

In [12]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[-3:]
print(new_list)

['cherry', 'guava', 'pear']

Slice a list to get every second element.

In [17]:
list=['apple','orange','mango','cherry','guava','pear']
new_list=list[0::2]
print(new_list)

['apple', 'mango', 'guava']

Reverse a list using slicing.

In [23]:
list=['apple','orange','mango','cherry','guava','pear']
print(list[::-1])

['pear', 'guava', 'cherry', 'mango', 'orange', 'apple']

 Create two lists and concatenate them.

In [20]:
list1=['guava','peach','pear']
list2=['apple','kiwi','cherry']
print(list1+list2)

['guava', 'peach', 'pear', 'apple', 'kiwi', 'cherry']


Repeat a list multiple times using the repetition operator

In [24]:
list_1=['apple','guava','orange']
print(list_1*3)

['apple', 'guava', 'orange', 'apple', 'guava', 'orange', 'apple', 'guava', 'orange']

Add a new element to the end of a list using the append() method.

In [25]:
list=['apple','guava','orange']
list.append('kiwi')
print(list)

['apple', 'guava', 'orange', 'kiwi']


Extend a list with elements from another list using the extend() method.

In [30]:
list1=['guava','peach','pear']
list2=['apple','kiwi','cherry']
list1.extend(list2)
print(list1)

['guava', 'peach', 'pear', 'apple', 'kiwi', 'cherry']

Insert an element at a specific index in a list using the insert() method.

In [33]:
list1=['guava','peach','pear']
list1.insert(1,'kiwi')
print(list1)

['guava', 'kiwi', 'peach', 'pear']

 Remove the last element from a list using the pop() method.

In [37]:
list1=['guava','peach','pear']
print(list1.pop())
print(list1)

pear
['guava', 'peach']

Remove a specific element from a list using the remove() method.

In [38]:
list1=['guava','peach','pear']
list1.remove('pear')
print(list1)

['guava', 'peach']

Clear all elements from a list.

In [39]:
list1=['guava','peach','pear']
list1.clear()
print(list1)

[]

Delete an element at a specific index using the del statement.

In [42]:
list1=['guava','peach','pear']
del list1[0]
print(list1)

['peach', 'pear']

Convert a string to a list of characters and vice-versa.

In [53]:
string='I love to shop'
list1=string.split(' ')
print(list1)

string1=' '.join(list1)
print(string1)

['I', 'love', 'to', 'shop']
I love to shop

In [ ]:
Sort a list in ascending order using the sort() method.

SyntaxError: invalid syntax (2664476093.py, line 1)

In [54]:
list1=['guava','peach','mango']
list1.sort()
print(list1)

['guava', 'mango', 'peach']

In [ ]:

Sort a list in descending order using the sort() method.

In [56]:
list=[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
list.sort(reverse=True)
print(list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

Reverse the order of a list using the reverse() method.

In [57]:
list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
list.reverse()
print(list)

[5, 3, 5, 6, 2, 9, 5, 1, 4, 1, 3]

Check if an element is present in a list using the in operator.

In [58]:
list=['apple','mango','kiwi']
check= 'apple'in list
print(check)

True

Compare two lists to see if they are equal in both value and identity.

In [63]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list2 == list1

True

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [65]:
list=[1, 2, 3, 4, 5]
copy = list.copy()
list[0] = 100
print(list)
print(copy)

[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [68]:
import copy
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copy = copy.deepcopy(list)
list[0][0] = 100

Pickle and Unpickle a list and display its content.